@font-face {
    font-family: 'indie_flowerregular';
    src: url('../fonts/indieflower-webfont.eot');
    src: url('../fonts/indieflower-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/indieflower-webfont.woff2') format('woff2'),
         url('../fonts/indieflower-webfont.woff') format('woff'),
         url('../fonts/indieflower-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.brand-font {
    font-family: 'Kotta One', serif;
}